$blueText: #01cbe0;
$lightText: #f8f9fa;

h1 {
  color: $blueText;
  font-size: 2rem;
}

span {
  color: $lightText;
}

.card-img {
  border-radius: 20px;

  &:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
  }
}
